@import 'tailwindcss';

body {
  @apply text-foreground;
}

@keyframes moving-shadow {
  0% {
    clip-path: polygon(
      15% 30%,
      35% 20%,
      45% 85%,
      28% 95%,
      75% 65%,
      38% 71%,
      41% 91%,
      55% 15%,
      54% 45%,
      66% 85%,
      70% 95%,
      60% 65%,
      63% 15%,
      70% 5%,
      75% 35%,
      61% 75%,
      52% 85%,
      62% 95%,
      48% 65%
    );
  }
  50% {
    clip-path: polygon(
      11% 55%,
      25% 45%,
      29% 11%,
      82% 91%,
      53% 21%,
      68% 61%,
      63% 39%,
      45% 71%,
      50% 91%,
      75% 65%,
      38% 71%,
      41% 91%,
      55% 15%,
      54% 45%,
      66% 85%,
      70% 95%,
      60% 65%,
      63% 15%,
      70% 5%
    );
  }
  100% {
    clip-path: polygon(
      15% 30%,
      35% 20%,
      45% 85%,
      28% 95%,
      75% 65%,
      38% 71%,
      41% 91%,
      55% 15%,
      54% 45%,
      66% 85%,
      70% 95%,
      60% 65%,
      63% 15%,
      70% 5%,
      75% 35%,
      61% 75%,
      52% 85%,
      62% 95%,
      48% 65%
    );
  }
}

.animated-background-clip {
  animation: moving-shadow 8s infinite alternate ease;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotate {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.hero-card {
  position: relative;

  &:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
    z-index: 1;
  }

  &:hover::after,
  &:hover::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    background-image: conic-gradient(from var(--angle), transparent, cyan 80%);
    border-radius: 10px;
    animation: 3s rotate linear infinite;
  }

  &:hover::before {
    --angle: 0deg;
    background-image: conic-gradient(from var(--angle), blue, cyan 80%);
    filter: blur(1rem);
    height: 125%;
    width: 125%;
  }
}
